docs/
docker/
licenses/
*.txt
*.sh
*logs*/
__pycache__/
*.pyc
lightning_logs*/
*.npy
*.ckpt
examples/
*images/
wandb*/
video/
teachers*/
statistics
*.egg-info/
statistics
PKG-INFO
*/build/*
.DS_Store
*/.DS_Store
libs